<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= yield %>
</body>
    <%= render 'layouts/navbar' %>
=======
>>>>>>> 92f1542ac00b51a6352d1a72b981ee86aa78b74a
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
